/**************TAG selectors **********/
h1{
    color: greenyellow;
}

body{
  background-color: rgb(16, 22, 5);
}

h3{
    color: rgb(34, 122, 149);
}

img:hover
{
  background-color: coral;
}

/*************** Class selectors ********************/

.horse
{
  background-color: aquamarine;
}

.kiwi
{
  background-color: dodgerblue;
}

#heading
{
  color:rgb(234, 152, 159);
}